* {
    font-family: Arial;
}

body {
    background-color: LIGHTBLUE;
}

h1 {
    color: YELLOW;
    text-align: CENTER;
}

p {
    font-size: 23px;
}

.div1 {
    width: 100%;
    height: 100%;
    display: flex;  /* */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border {
    border: 23px dashed black;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}